## Deliverable 3. Create a Travel Itinerary Map.

In [1]:
# Dependencies and Setup
import pandas as pd
import requests
import gmaps

# Import API key
from config import g_key

# Configure gmaps
gmaps.configure(api_key=g_key)

In [2]:
# 1. Read the WeatherPy_vacation.csv into a DataFrame.
vacation_df = pd.read_csv("../Vacation_Search/WeatherPy_vacation.csv")
vacation_df.head()

,City_ID,City,Country,Max Temp,Lat,Lng,Description,Hotel Name
0,3,Gizo,SB,81.63,-8.1030,156.8419,broken clouds,Imagination Island
1,6,Hithadhoo,MV,81.82,-0.6000,73.0833,overcast clouds,Scoop Guest House
2,7,Zaragoza,ES,86.45,41.6561,-0.8773,scattered clouds,Hotel Goya
3,11,Awjilah,LY,81.97,29.1081,21.2869,clear sky,المنزل
4,12,Butaritari,KI,82.15,3.0707,172.7902,overcast clouds,Isles Sunset Lodge

In [3]:
# 2. Using the template add the city name, the country code, the weather description and maximum temperature for the city.
info_box_template = """
<dl>
<dt>City</dt><dd>{City}</dd>
<dt>Country</dt><dd>{Country}</dd>
<dt>{Max Temp} °F</dd>
<dt>Current Weather</dt><dd>{Description} and {Max Temp} °F</dd>
</dl>
"""

# 3a. Get the data from each row and add it to the formatting template and store the data in a list.
hotel_info = [info_box_template.format(**row) for index, row in vacation_df.iterrows()]

# 3b. Get the latitude and longitude from each row and store in a new DataFrame.
locations = vacation_df[["Lat", "Lng"]]

In [4]:
# 4a. Add a marker layer for each city to the map.
locations = vacation_df[["Lat", "Lng"]]
max_temp = vacation_df["Max Temp"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)

marker_layer = gmaps.marker_layer(locations, info_box_content=hotel_info)

fig.add_layer(marker_layer)

# 4b. Display the figure
fig

Figure(layout=FigureLayout(height='420px'))

In [5]:
# From the map above pick 4 cities and create a vacation itinerary route to travel between the four cities. 
# 5. Create DataFrames for each city by filtering the 'vacation_df' using the loc method. 

# Hint: The starting and ending city should be the same city.

vacation_start = vacation_df.loc[vacation_df["City"] == "Shimoda"]
vacation_end = vacation_df.loc[vacation_df["City"] == "Shimoda"]
vacation_stop1 = vacation_df.loc[vacation_df["City"] == "Katsuura"]
vacation_stop2 = vacation_df.loc[vacation_df["City"] == "Tateyama"] 
vacation_stop3 = vacation_df.loc[vacation_df["City"] == "Ito"]
vacation_start

,City_ID,City,Country,Max Temp,Lat,Lng,Description,Hotel Name
112,566,Shimoda,JP,84.11,34.6667,138.95,scattered clouds,Shimoda Tokyu Hotel

In [6]:
# 6. Get the latitude-longitude pairs as tuples from each city DataFrame using the to_numpy function and list indexing.
start = vacation_start["Lat"].to_numpy()[0], vacation_start["Lng"].to_numpy()[0]
end = vacation_end["Lat"].to_numpy()[0], vacation_end["Lng"].to_numpy()[0]
stop1 = vacation_stop1["Lat"].to_numpy()[0], vacation_stop1["Lng"].to_numpy()[0]
stop2 = vacation_stop2["Lat"].to_numpy()[0], vacation_stop2["Lng"].to_numpy()[0]
stop3 = vacation_stop3["Lat"].to_numpy()[0], vacation_stop3["Lng"].to_numpy()[0]
print(start, end, stop1, stop2, stop3)

(34.6667, 138.95) (34.6667, 138.95) (35.1333, 140.3) (34.9833, 139.8667) (34.9667, 139.0833)

In [7]:
# 7. Create a direction layer map using the start and end latitude-longitude pairs,
# and stop1, stop2, and stop3 as the waypoints. The travel_mode should be "DRIVING", "BICYCLING", or "WALKING".
locations = (start, end, stop1, stop2, stop3)
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)

directions_layer = gmaps.directions_layer(
            start, end, waypoints=[stop1, stop2, stop3],
            travel_mode='DRIVING')
fig.add_layer(directions_layer)

fig

Figure(layout=FigureLayout(height='420px'))

In [8]:
# 8. To create a marker layer map between the four cities.
#  Combine the four city DataFrames into one DataFrame using the concat() function.
itinerary_df = pd.concat([vacation_start, vacation_stop1, vacation_stop2, vacation_stop3, vacation_end],ignore_index=True)
itinerary_df

,City_ID,City,Country,Max Temp,Lat,Lng,Description,Hotel Name
0,566,Shimoda,JP,84.11,34.6667,138.9500,scattered clouds,Shimoda Tokyu Hotel
1,42,Katsuura,JP,80.58,35.1333,140.3000,clear sky,Katsuura Hotel Mikazuki
2,389,Tateyama,JP,81.10,34.9833,139.8667,few clouds,Tateyama Seaside Hotel
3,115,Ito,JP,82.69,34.9667,139.0833,few clouds,Ito Kowakien
4,566,Shimoda,JP,84.11,34.6667,138.9500,scattered clouds,Shimoda Tokyu Hotel

In [9]:
# 9 Using the template add city name, the country code, the weather description and maximum temperature for the city. 
info_box_template = """
<dl>
<dt>Hotel Name</dt><dd>{Hotel Name}</dd>
<dt>City</dt><dd>{City}</dd>
<dt>Country</dt><dd>{Country}</dd>
<dt>Current Weather</dt><dd>{Description} and {Max Temp} °F</dd>
</dl>
"""

# 10a Get the data from each row and add it to the formatting template and store the data in a list.
hotel_info = [info_box_template.format(**row) for index, row in itinerary_df.iterrows()]

# 10b. Get the latitude and longitude from each row and store in a new DataFrame.
locations = itinerary_df[["Lat", "Lng"]]

In [10]:
# 11a. Add a marker layer for each city to the map.
locations = itinerary_df[["Lat", "Lng"]]
max_temp = itinerary_df["Max Temp"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)

marker_layer = gmaps.marker_layer(locations, info_box_content=hotel_info)

fig.add_layer(marker_layer)

# 11b. Display the figure
fig

Figure(layout=FigureLayout(height='420px'))